.contact-edit {
    margin: 20% 6% 5%;
    .edit-top {
        margin-top: -16%;
        .top-btns {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            img {
                margin-top: 25px;
                width: 50px;
            }
            .delete img {
                background-color: inherit;
            }
        }
    }
    form {
        width: 50%;
        margin: auto;
        .contact-info {
            div {
                input {
                    margin-left: 10px;
                    height: 40px;
                    font-size: 16px;
                    padding-left: 9px;
                    width: 85%;
                    border: 2px solid gray;
                    border-radius: 4px;
                    margin-bottom: 20px;
                }
            }
            :last-child {
                button {
                    cursor: pointer;
                    border: 1.5px solid;
                    width: 8vw;
                    position: relative;
                    right: 4.8vw;
                    height: 32px;
                    transition: 0.1s;
                    &:hover{
                        background-color: #3131316c;
                    }
                }
            }
        }
    }
    img {
        background-color: #b1d5d5;
        border-radius: 50%;
        width: 97px;
        margin-left: 10px;
        margin-bottom: 30px;
    }
}
@media (max-width: 500px) {
    .contact-edit {
        margin-top: 34%;
        .edit-top {
            margin-top: -18%;
        }
        form {
            margin-left: 2%;
            width: 100%;
            .save-btn {
                margin-right: 25.5px;
                width: 77px;
                padding: 3%;
                background-color: #b3b3b3;
                border: none;
                border-radius: 2.5px;
                font-size: initial;
                color: #313131;
                font-family: cursive;
                font-weight: bold;
                padding-bottom: 12px;
            }
            .contact-info {
                div {
                    input {
                        height: 40px;
                        font-size: 16px;
                        padding-left: 9px;
                        width: 85%;
                        border: 2px solid gray;
                        border-radius: 4px;
                        margin: 8px 3px 15px 10px;
                    }
                }
                :last-child{
                    button{
                        cursor: pointer;
                        border: 1.5px solid;
                        width: 17vw;
                        position: relative;
                        height: 32px;
                        transition: 0.1s;
                        padding-top: 3px;
                        text-align: center;
                        right: 0vw;
                    }
                }
            }
        }
    }
}
